.angular-google-map-container {
	border-style: dotted;
	border-color: red;
	position: relative;
	float: left;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	width: 60%;
	/*padding-left: 20px;*/
	/*padding-bottom: 50px;*/
	padding-top: 500px;
}

html, body{
	/*height: 100% !important;
	width: 100% !important;*/
	margin: 0px;
	padding: 10px;
}

/*#map-canvas{
	border-style: dotted;
	border-color: green;
	position: relative;
	float: left;
	/*height: 50%;
	width: 50%;
	height: 100%;
	width: 60%;
	padding-bottom: 66.67% /* aspect ratio 3:}*/

#distance-inputBox{
	position: relative;
	float: left;
	padding: 10px;
}

.ui-gmap-search-box {
	padding: 10px;
}

