.angular-google-map-container {
	position: relative;
	float: left;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	width: 60%;
	/*padding-left: 20px;*/
	/*padding-bottom: 50px;*/
	padding-top: 500px;
}

html, body{
	/*height: 100% !important;
	width: 100% !important;*/
	margin: 0px;
	padding: 10px;
}

#distance-inputBox{
	position: relative;
	float: left;
	padding: 10px;
}

.ui-gmap-search-box {
	padding: 10px;
}

#slider{
	clear: left;
	width: 10%;
}

#cardsDiv{
	position: relative;
}

.cards{
	border-style: solid; 
	border-radius: 10%; 
	width: 200px; 
	height: 200px; 
	position: relative; 
	float: left; 
	border-color: #008000;  
	margin-left: 10px; 
	margin-right: 10px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.cardImage{
	width: 100%; 
	height: 50%; 
	border-top-right-radius: 5%; 
	border-top-left-radius: 5%;
}

.cardInfo{
	padding-top: 4px; 
	padding-left: 4px	; 
	padding-bottom: 4px; 
	padding-right: 4px; 
	height: 50%;
}

#sideBar{
	float: left; 
	position: relative; 
	width: 40%; 
	height: 100%;
}	

#issueBox {
	position:fixed;
	float: right;
}

#login-screen{
	float: left;
	padding-top: 10px;
	padding-left: 30px;
}

#searchBox{
	width: 70%;
	float: left;
	margin: 0px;
}

#logo{
	float: left;
	padding-right: 2%;
	margin-top: 10px;
}

#searchBoxItemList{
	clear: both;
}

#fullWidth{
	width: 100%;
	float: left;
	padding-bottom: 10px;
	/*padding-bottom: 10px;
	margin-bottom: 10px;*/
}
