<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" ng-href="{{dashboard.specialstyle}}">

<form id="fullWidth"  ng-submit="dashboard.updateDashboardNewSearchText()"	> <!--   ng-show = "dashboard.isLoggedIn"-->
	<img src="/icons/whizcarticon.png" id="logo">

	<div id="titleBar">
		<input id="searchBox" type = "text" ng-model = "dashboard.searchText"  class = "form-control"  placeholder = "Search for item name or store postal code" ng-change = "dashboard.change()">
		<input type="submit" id="submit" value="Submit" ng-hide="true"/>

		<div id="login-screen" class="login" >
			<login-buttons></login-buttons>
		</div>
	</div> 
</form>

<form>

	<br>

	<ul id="searchBoxItemList" ng-show = "dashboard.showMe">
		<li ng-repeat="item in dashboard.items">
			{{item.category}}: 
			{{item.franchise}}
			{{item.name}}
			{{item.address}}
		</li>
	</ul>

	<div>
		<button ng-click = "dashboard.addItemToFavs()" class = "btn btn-success"> Add Item to Favourites</button>
		<button ng-click = "dashboard.addStoreToFavs()" class = "btn btn-success"> Add Store to Favourites</button>
		<button ng-click = "dashboard.updateDashboardNewSeachText()" class = "btn btn-success">Get Best Price</button>
		<br>

		<!--<div id="franchisesCheckBoxes" style="float: left" ng-repeat="stores in allFranchisesInSmartCart">
			<input id="franchises" type="checkbox" value="{{stores}}" check-list='checked_stores' ng-click="dashboard.updateFranchises(stores)"> {{stores}}
		</div>-->

		<input id="slider" type="range" min ="5" max="25" step ="5" n ="5" ng-model = "dashboard.maxDistance" ng-change = "dashboard.distanceChange()" />

		<p> Max Distance: {{maxDistance}}</p>
	</div>

	<div id="cardsDiv" ng-show = "dashboard.hasCards">
		<div  ng-repeat="card in dashboard.itemCards" class="cards">
			<img src={{card.image}} class="cardImage">
			<div class="cardInfo">
				<!--<button ng-click = "dashboard.addToShoppingList(card.childId)" class = "btn btn-success" style="width:100%"> Add To Shopping List</button>	-->		
				<p> {{card.storeaddress}} </p>
				<p> ${{card.price}} </p>
			</div>
		</div>
	</div>

	<div id="map-canvas" style="clear: both">

		<!--<script id="searchBoxUserLocation.tpl.html" type="text/ng-template">
			<input type="text" placeholder="User Location">
		</script>-->

		<!--<script id="mapSearchBox.tpl.html" type="text/ng-template">
			<input type="text" placeholder="Favourite Stores">
		</script>-->

		<ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds" events="map.events" options="map.options" draggable="true" >

			<ui-gmap-markers  models="mapMarkers" coords="'self'" icon="'icon'" click="onClick" fit="true">
				<ui-gmap-window coords="activeModel" options="windowOptions" show="activeModel.show" ng-cloak>
					<p> <strong> Name: {{fullName}} </strong> </br>
						{{fullAddress}}</br>
						Postal Code: {{postalCode}}
						<button ng-click='$parent.favouritesButtonClicked()'> Add To Favourites </button>
						<!--<button ng-click='$parent.databaseButtonClicked()''> Add To Database </button>-->
					</p>
				</ui-gmap-window>
			</ui-gmap-markers>


			<!--<ui-gmap-search-box options="searchBoxUserLocation.options" template="searchBoxUserLocation.template" events="searchBoxUserLocation.events" ng-model="searchModel.searchTerm"></ui-gmap-search-box>-->

			<!--<ui-gmap-search-box options="mapSearchBox.options" template="mapSearchBox.template" events="mapSearchBox.events" bounds="mapSearchBox.bounds" ></ui-gmap-search-box>-->
		</ui-gmap-google-map>
	</div>
	

	<div id="sideBar">


		<!--<button id="shoppingList "ng-click="dashboard.showShoppingLists()" class = "btn btn-success"> Display Shopping Lists</button>-->

		<button id="favStores" ng-click="dashboard.showFavStores()" class = "btn btn-success"> Display Fav Stores</button>

		<button id="favItems" ng-click="dashboard.showFavItems()" class = "btn btn-success"> Display Fav Items</button>


		<div ng-show = "dashboard.showMeShoppingLists">

			<!--<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#shoppingList">Shopping List</a></li>
			</ul>-->

			<!--<div class="tab-content">-->
			<div id="shoppingList" class="tab-pane fade in active">
				<h3>Shopping List</h3>
				<ul>
					<li ng-repeat="item in dashboard.shoppingList">
						Item: {{item.parentItem.name}} 
						Store: {{item.store.franchise}} : {{item.store.address}}
						Price: {{item.item.price}}
					</li>
				</ul>
			</div>

			<!--</div>-->

		</div>

		<div ng-show = "dashboard.showMeFavStores">
			<h3>Favourite Stores</h3>
			<ul>
				<li ng-repeat="store in dashboard.favStores">
					{{store.code}}
					{{store.franchise}}
				</li>
			</ul>
		</div>

		<div ng-show = "dashboard.showMeFavItems">
			<h3>Favourite Items</h3>
			<ul>
				<li ng-repeat="item in dashboard.favItems">
					{{item.name}}
				</li>
			</ul>
		</div>
	</div>
</form>




