.angular-google-map-container {
	position: relative;
	float: left;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	width: 50%;
	/*padding-left: 20px;*/
	/*padding-bottom: 50px;*/
	padding-top: 500px;
}

html, body{
	/*height: 100% !important;
	width: 100% !important;*/
	margin: 0px;
	padding: 0px;
}


#distance-inputBox{
	position: relative;
	float: left;
	padding: 10px;
}

.ui-gmap-search-box {
	padding: 10px;
}

#slider{
	clear: left;
	width: 10%;
	margin-top: 10px;	
}

#cardsDiv{
	position: relative;
}

.cards{
	border-style: solid; 
	border-radius: 10%; 
	width: 200px; 
	height: 200px; 
	position: relative; 
	float: left; 
	border-color: #008000;  
	margin-left: 10px; 
	margin-right: 10px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.cardImage{
	width: 100%; 
	height: 50%; 
	border-top-right-radius: 5%; 
	border-top-left-radius: 5%;
}

.cardInfo{
	padding-top: 4px; 
	padding-left: 4px	; 
	padding-bottom: 4px; 
	padding-right: 4px; 
	height: 50%;
}

#titleBar{
	border-radius: 10px;
	background-color: #5CB85C;
	height: 70px;
}

#sideBar{
	float: left; 
	position: relative; 
	width: 40%; 
	height: 100%;
}	

#issueBox {
	position:fixed;
	float: right;
}

#login-screen{
	float: left;
	padding-top: 15px;
	padding-left: 30px;
	font-size: 20px;
}

#searchBox{
	width: 70%;
	float: left;
	margin: 15px;
	margin-top: 18px;
	font-size: 18px;
	font-family: Helvetica;
}

#goButton{
	float: left;
	margin-top: 16px;
	padding-top: 8px;
	border: 4px solid;
	border-color: white;
	/*background-color: white;
	color: green;*/

}

#searchBoxItemList {
	clear: both;
	font-family: Helvetica;
}

#fullWidth{
	width: 100%;
	float: left;
	padding-bottom: 10px;
	/*padding-bottom: 10px;
	margin-bottom: 10px;*/
}

#logo{
	float: left;
	width: 60px;
	height: 60px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}





input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #5CB85C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #5CB85C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #5CB85C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

