<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<form>
	<div ng-hide = "dashboard.isLoggedIn">
		Please Log into FoodHero or Create a New Account!
	</div>


	<br>
	<div style="width: 100%" ng-show = "dashboard.isLoggedIn">
		<input type = "text" ng-model = "dashboard.searchText" class = "form-control" placeholder = "Search for item name or store postal code" ng-change = "dashboard.change()">
	</div>
	<br>

	<ul ng-show = "dashboard.showMe">
		<li ng-repeat="item in dashboard.items">
			{{item.code}}
			{{item.franchise}}
			{{item.name}}
		</li>
	</ul>

	<div>
		<button ng-click = "dashboard.addItemToFavs()" ng-show = "dashboard.isLoggedIn" class = "btn btn-success"> Add Item to Favourites</button>
		<button ng-click = "dashboard.addToShoppingList()" ng-show = "dashboard.isLoggedIn" class = "btn btn-success"> Add Item to Shopping List</button>
		<button ng-click = "dashboard.addStoreToFavs()" ng-show = "dashboard.isLoggedIn" class = "btn btn-success"> Add Store to Favourites</button>
		<button ng-click = "dashboard.getPrice()" ng-show = "dashboard.isLoggedIn" class = "btn btn-success">Get Best Price</button>
		<br>

		<div style="float: left" ng-repeat="stores in allFranchisesInSmartCart" ng-show = "dashboard.isLoggedIn">
			<input type="checkbox" value="{{stores}}" check-list='checked_stores'> {{stores}}
		</div>

		<div style="clear: left" ng-show = "dashboard.isLoggedIn" > The following stores are checked: {{checked_stores | json}} </div>


		<input id="slider" type="range" min ="5" max="25" step ="5" n ="5" ng-show = "dashboard.isLoggedIn" ng-model = "dashboard.maxDistance" ng-change = "dashboard.distanceChange()" style="width: 10% " />

		<p ng-show = "dashboard.isLoggedIn"> Max Distance: {{maxDistance}}</p>
	</div>

	<div id="cards" style="position: static; border-style: dashed; padding-bottom: 100px">
		<div style="border-style: solid; width: 10%; height: 100px; position: relative; float: left">
			<p> I am a price </p>
		</div>
		<div style="border-style: solid; width: 10%; height: 100px; position: relative; float: left">
			<p> I am another price </p>
		</div>
		<div style="border-style: solid; width: 10%; height: 100px; position: relative; float: left"> 
			<p> I am another price </p>
		</div>
	</div>

	<div id="map-canvas" ng-if = "dashboard.isLoggedIn">


		<script id="searchBoxUserLocation.tpl.html" type="text/ng-template">
			<input type="text" placeholder="User Location">
		</script>

		<script id="mapSearchBox.tpl.html" type="text/ng-template">
			<input type="text" placeholder="Favourite Stores">
		</script>

		<ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds" events="map.events" options="map.options" draggable="true" >

			<ui-gmap-markers  models="mapMarkers" coords="'self'" icon="'icon'" click="onClick" fit="true">
				<ui-gmap-window coords="activeModel" options="windowOptions" show="activeModel.show" ng-cloak>
					<p> <strong> Name: {{fullName}} </strong> </br>
						{{fullAddress}}</br>
						postalcode: {{postalCode}}
						<button ng-click='$parent.favouritesButtonClicked()'> Add To Favourites </button>
						<!--<button ng-click='$parent.databaseButtonClicked()''> Add To Database </button>-->
					</p>
				</ui-gmap-window>
			</ui-gmap-markers>


			<ui-gmap-search-box options="searchBoxUserLocation.options" template="searchBoxUserLocation.template" events="searchBoxUserLocation.events" ng-model="searchModel.searchTerm"></ui-gmap-search-box>

			<ui-gmap-search-box options="mapSearchBox.options" template="mapSearchBox.template" events="mapSearchBox.events" bounds="mapSearchBox.bounds" ></ui-gmap-search-box>
		</ui-gmap-google-map>
	</div>

	<div style="float: left; position: relative; width: 40%; height: 100%" ng-show = "dashboard.isLoggedIn">


		<button ng-click="dashboard.showShoppingLists()" class = "btn btn-success"> Display Shopping Lists</button>

		<button ng-click="dashboard.showFavStores()" class = "btn btn-success"> Display Fav Stores</button>

		<button ng-click="dashboard.showFavItems()" class = "btn btn-success"> Display Fav Items</button>


		<div ng-show = "dashboard.showMeShoppingLists">

			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#shoppingList">Shopping List</a></li>
			</ul>

			<div class="tab-content">
				<div id="shoppingList" class="tab-pane fade in active">
					<h3>Shopping List</h3>
					<ul>
						<li ng-repeat="item in dashboard.shoppingList">
							{{item.name}}
						</li>
					</ul>
				</div>

			</div>

		</div>

		<div ng-show = "dashboard.showMeFavStores">
			<h3>Favourite Stores</h3>
			<ul>
				<li ng-repeat="store in dashboard.favStores">
					{{store.code}}
					{{store.franchise}}
				</li>
			</ul>
		</div>

		<div ng-show = "dashboard.showMeFavItems">
			<h3>Favourite Items</h3>
			<ul>
				<li ng-repeat="item in dashboard.favItems">
					{{item.name}}
				</li>
			</ul>
		</div>
	</div>
</form>




