.angular-google-map-container {
	position: relative;
	float: left;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	height: 100%;
	width: 100%;
	/*padding-left: 20px;*/
	/*padding-bottom: 50px;*/
	padding-top: 500px;
	/*border-style: dashed;
	border-color: orange;*/
}

html, body{
	/*height: 100% !important;
	width: 100% !important;*/
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
#distanceAmount {
	float: left;
	position: relative;
	margin-left: 30px;
	margin-top: 12px;
	font-size: 20px;
	padding-bottom: 0px;
	margin-bottom: -12px;
	font-family: Helvetica;
}

#distance-inputBox{
	position: relative;
	float: left;
	padding: 10px;
}

.ui-gmap-search-box {
	padding: 10px;
}

#slider{
	width: 20%;
	margin-top: 10px;	
	margin-bottom: 0px;
	position: relative;
	float: left;
	background-color: #5CB85C;
}

#cardsDivParent{
	position: relative;
	/*border-style: dashed;
	border-color: red;*/
	overflow: hidden;
	/*background-color: #42f486;*/
	background-image: url("http://wonderopolis.org/wp-content/uploads/2010/11/Wonder-46-Cornucopia-Static-Image.jpg");
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

.cards{
	border-style: solid; 
	border-radius: 10%; 
	width: 200px; 
	height: 200px; 
	position: relative; 
	float: left; 
	border-color: #008000;  
	margin-left: 10px; 
	margin-right: 10px; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.cardImage{
	width: 100%; 
	height: 50%; 
	border-top-right-radius: 5%; 
	border-top-left-radius: 5%;
	border-bottom: solid 2px black;
}

.cardInfo{
	padding-top: 4px; 
	padding-left: 4px	; 
	padding-bottom: 4px; 
	padding-right: 4px; 
	height: 50%;
	background-color: white;
}

#titleBar{
	border-radius: 1px;
	/*border-style: dotted;
	border-color: black;*/
	background-color: #5CB85C;
	height: 100px;
	margin-bottom: -10px;
	padding-bottom: 0px;
}

#sideBar{
	float: left; 
	position: relative; 
	width: 40%; 
	height: 100%;
}	

#issueBox {
	position:fixed;
	float: right;
}

#login-screen{
	position: absolute;
	float: left;
	padding-top: 12px;
	margin-left: 85%;
	width: 15%;
	font-size: 20px;
	z-index: 98;
	text-overflow: hidden;
	/*border-style: dotted;
	border-color: red;*/
}

#searchBoxParentDiv{
	width: 70%;
	float: left;
	margin: 15px;
	margin-top: 10px;
}

#searchBox{
	font-size: 18px;
	font-family: Helvetica;
	margin-bottom: 0px;
}

#searchBoxItemList {
	width: 69.95%;
	font-family: Helvetica;
	float: left;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	overflow: hidden;
	background-color: white;
	position: absolute;
	z-index: 99;
	border-radius: 3px;
	border-color: blue;
}

#goButton{
	float: left;
	margin-top: 6px;
	padding-top: 8px;
	border: 4px solid;
	border-color: white;
	/*background-color: white;
	color: green;*/
}



#fullWidth{
	width: 100%;
	height: 100%;
	float: left;
	padding-bottom: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;*/
	border-style: dashed;
	border-color: purple;
	margin-bottom: 0px;
	overflow: hidden;
}


#logo{
	float: left;
	width: 70px;
	height: 60px;
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#everything2 {
	/*border-style: dashed;
	border-color: black;*/
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 100%;
	overflow: hidden;
}


input[type=range] {
	height: 26px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #50555C;
	background: #50555C;
	border-radius: 14px;
	border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 60px;
	border-radius: 12px;
	background: lightgreen;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #50555C;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #50555C;
	background: #50555C;
	border-radius: 14px;
	border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 40px;
	border-radius: 12px;
	background: #5CB85C;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #50555C;
	border: 0px solid #000000;
	border-radius: 28px;
	box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
	background: #50555C;
	border: 0px solid #000000;
	border-radius: 28px;
	box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 40px;
	border-radius: 12px;
	background: #5CB85C;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
	background: #50555C;
}

