
<form>

	<div id="map-canvas" > 

		<script id="searchBoxUserLocation.tpl.html" type="text/ng-template">
			<input type="text" placeholder="User Location">
		</script>

		<script id="mapSearchBox.tpl.html" type="text/ng-template">
			<input type="text" placeholder="Favourite Stores">
		</script>

		<div ng-repeat="stores in allFranchisesInSmartCart"> 
			<input type="checkbox" value="{{stores}}" check-list='checked_stores'> {{stores}} 
		</div>

		<div> The following stores are checked: {{checked_stores | json}} </div>
		
		<br>
		<div class = "form-group">
			<input type = "text" ng-model = "appMaps.searchText" class = "form-control" placeholder = "Search for item name or store postal code" ng-change = "appMaps.change()">
		</div>
		<ul ng-show = "appMaps.showMe">
			<li ng-repeat="item in appMaps.items">
				{{item.code}}
				{{item.franchise}}
				{{item.name}}
			</li>
		</ul>
		<button ng-click = "appMaps.addItemToFavs()" class = "btn btn-success"> Add Item to Favourites</button>
		<button ng-click = "appMaps.addToShoppingList()" class = "btn btn-success"> Add Item to Shopping List</button>
		<button ng-click = "appMaps.addStoreToFavs()" class = "btn btn-success"> Add Store to Favourites</button>
		<button ng-click = "appMaps.getPrice()" class = "btn btn-success">Get Best Price</button>
		<br>

		<input id="maxDistance" type="text" class="controls" placeholder="Max Distance (km)" ng-model="maxDistance" ng-change=maxDistanceChanged()>
		<p> Max Distance: {{maxDistance}}</p>

		<div>
			<br>
			<ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds" events="map.events" options="map.options" draggable="true" >

				<ui-gmap-markers  models="mapMarkers" coords="'self'" icon="'icon'" click="onClick" fit="true"> 
					<ui-gmap-window coords="activeModel" options="windowOptions" show="activeModel.show" ng-cloak>
						<p> <strong> Name: {{fullName}} </strong> </br> 
							{{fullAddress}} </br>
							<button ng-click='$parent.favouritesButtonClicked()'> Add To Favourites </button>
							<button ng-click='$parent.databaseButtonClicked()''> Add To Database </button>
						</p>s
					</ui-gmap-window>
				</ui-gmap-markers>

				<!--<ui-gmap-markers models="userLocationMarker" coords="'self'" icon="'icon'" fit="true"> </ui-gmap-markers>
				<ui-gmap-markers models="existingStoreMarkers" coords="'self'" icon="'icon'" fit="true"></ui-gmap-markers>-->

				<ui-gmap-search-box options="searchBoxUserLocation.options" template="searchBoxUserLocation.template" events="searchBoxUserLocation.events" ng-model="searchModel.searchTerm"></ui-gmap-search-box>

				<ui-gmap-search-box options="mapSearchBox.options" template="mapSearchBox.template" events="mapSearchBox.events" bounds="mapSearchBox.bounds" ></ui-gmap-search-box> 
			</ui-gmap-google-map>
		</div>
	</div>
</body>
</form>
