


<div>

<br>
	<form>
		<div class = "form-group">
			<input type = "text" ng-model = "mainPage.searchText" class = "form-control" placeholder = "Search" ng-change = "mainPage.myFunc()">
		</div>
	</form>

	<ul ng-show = "mainPage.showMe">
  		<li ng-repeat="item in mainPage.items">
    		<a ui-sref="itemDetails({ itemId: item._id })">
      			{{item.name}}
    		</a>
            <!--<button ui-sref = "items" class = "btn btn-secondary btn-sm"> Add Item to Shopping List</button>-->
  		</li>
	</ul>

	<p ng-show = "!mainPage.showMe">
		DEAL OF THE DAY
	</p>

</div>
