<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<item-add ng-show = "shoppingList.isLoggedIn"></item-add>

<div ng-hide = "shoppingList.isLoggedIn">
  Please Log into FoodHero or Create a New Account!
</div>

<button ng-click="shoppingList.showShoppingLists()" ng-show="shoppingList.isLoggedIn"> Display Shopping Lists</button>

<button ng-click="shoppingList.showFavStores()" ng-show="shoppingList.isLoggedIn"> Display Fav Stores</button>

<button ng-click="shoppingList.showFavItems()" ng-show="shoppingList.isLoggedIn" ng-show="shoppingList.isLoggedIn"> Display Fav Items</button> <!--ng-if="shoppingList.isLoggedIn"-->

<!--<button ng-click="shoppingList.showMap()" ng-show="shoppingList.isLoggedIn"> Display Map </button>-->

<div ng-hide = "shoppingList.showMeShoppingLists"> </div>

<div ng-show = "shoppingList.showMeShoppingLists">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#shoppingList1">Shopping List 1</a></li>
  <!--<li><a data-toggle="tab" href="#shoppingList2">Shopping List 2</a></li>
  <li><a data-toggle="tab" href="#shoppingList3">Shopping List 3</a></li>-->
</ul>

<div class="tab-content">
  <div id="shoppingList1" class="tab-pane fade in active">
    <h3>Shopping List 1</h3>
    <ul>
     <li ng-repeat="item in shoppingList.shoppingList">
      {{item.name}}
    </li>
  </ul>
</div>
      <!--<items-sort on-change="shoppingList.sortChanged(sort)" property="name" order="1"></items-sort>
  <input type="search" ng-model="shoppingList.searchText" placeholder="Search" />
   <ul>
      <li dir-paginate="item in shoppingList.items | itemsPerPage: shoppingList.perPage" total-items="shoppingList.itemsCount">
        <a ui-sref="itemDetails({ itemId: item._id })">
            {{item.name}}
        </a>
        <item-remove item="item"></item-remove>
      </li>
   </ul>
   <dir-pagination-controls on-page-change="shoppingList.pageChanged(newPageNumber)"></dir-pagination-controls>
 </div>-->

  <!--<div id="shoppingList2" class="tab-pane fade">
    <h3>Shopping List 2</h3>
    <p>Some content in shopping list 1.</p>
  </div>
  <div id="shoppingList3" class="tab-pane fade">
    <h3>Shopping List 3</h3>
    <p>Some content in shopping list 2.</p>
  </div>-->
</div>

</div>

<div ng-show = "shoppingList.showMeFavStores">
  <h3>Favourite Stores</h3>
  <ul>
   <li ng-repeat="store in shoppingList.favStores">
    {{store.code}}
    {{store.franchise}}
  </li>
</ul>
</div>

<div ng-show = "shoppingList.showMeFavItems">
  <h3>Favourite Items</h3>
  <ul>
   <li ng-repeat="item in shoppingList.favItems">
    {{item.name}}
  </li>
</ul>
</div>

<app-maps ng-show = "shoppingList.isLoggedIn"> </app-maps>
