html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 100px;
}  

#footer {
	position: relative;
	margin-bottom: 0px;
	padding-bottom: 0px;
	clear:both;
	background-color: #5CB85C;
}

table {
	margin-right: 20px; 
	margin-top:20px; 
	width: 100%;

}

tr th {
	padding-top: 30px;
	padding-left: 0px; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin: auto;
	color: white;
	text-align: center;
}

tr th a {
	color: white;
}

.allFootertext {
	position: relative;
}