<div id="wrap">
	<!--<navigation class = "navbar navbar-static-top" > </navigation>-->
	<div ui-view="" class = "container-fluid" style="margin-bottom: 100px; padding-bottom: 10px;"></div>
</div>

<div id="footer">
	<!-- <span> Contact us at contactus@whizcart.com</span>-->
	<div class="allFooterText">
		<table id="tableTest">
			<tr>
				<th> <a href="/mobileApp" target="_blank"> Mobile App </th>
				<th> <a href="/aboutUs" target="_blank"> About Us </th>
				<th> <a href="/contactUs" target="_blank"> Contact Us </th>
				<th> <a href="/privacyPolicy" target="_blank"> Privacy Policy </th>
				<th> <a href="/termsOfUse" target="_blank"> Terms of Use </th>
				<th> <a href="/help" target="_blank"> Help </th>
			</tr>
		</table>
	</div>
</div>