html, body, p{
	padding: 0! important;
	margin: 0!important;
}

html{
	margin: 0;
	padding: 0;
}


#footer {
	position: relative;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	clear:both;
	background-color: #5CB85C;
	/*border-style: dotted;
	border-color: pink;*/
	overflow: hidden;
	width: 100%;
}


table {
	margin-right: 20px; 
	margin-top:20px; 
	width: 100%;
	overflow: hidden;
	margin-bottom: 0px;
}


tr th {
	padding-top: 30px;
	padding-left: 0px; 
	padding-top: 0px;
	padding-bottom: 0px;
	margin: auto;
	color: white;
	text-align: center;
	overflow: hidden;
}

tr th a {
	color: white;
	overflow: hidden;
}

.allFootertext {
	position: absolute;
	overflow: hidden;
}
