<div id="wrap">
	<!--<navigation class = "navbar navbar-static-top" > </navigation>-->
	<div ui-view="" class = "container-fluid" style="margin-bottom: 100px; padding-bottom: 10px;"></div>
</div>

<div id="footer">
	<!-- <span> Contact us at contactus@whizcart.com</span>-->
	<div class="allFooterText">
		<table id="tableTest">
			<tr>
				<th> Mobile App </th>
				<th> About Us </th>
				<th> Contact Us </th>
				<th> Privacy Policy </th>
				<th> Terms of Use </th>
				<th> Help </th>
			</tr>
		</table>
	</div>
</div>