.angular-google-map-container {
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 1000px;
	width: 1500px;
	padding-left: 20px;
}

html, body{
	/*height: 100% !important;
	width: 100% !important;*/
	margin: 0px;
	padding: 10px;
}

#map-canvas{
	position: absolute;
	float: left
	height: 2000px;
	width: 1500px;
	padding-bottom: 66.67% /* aspect ratio 3:2*/;

}

#distance-inputBox{
	position: relative;
	float: left;
	padding: 10px;
}

.ui-gmap-search-box {
	padding: 10px;
}