<div id="header">
	<div style="position: relative" >
		<!--<div style="position: relative" class = "navbar-header">

		 <a href = "/mainPage" style="float: left" class = "navbar-brand">Home</a>
  		 <a href="/items" style="float: left" class = "navbar-brand">FoodHero</a>
  		 <a href="/aboutUs" style="float: left" class = "navbar-brand">About Us</a>-->

       <a href = "/mainPage" class="headerTab">Home</a>	
       <a href="/dashboard" class="headerTab">My Whizcart</a>
       <a href="/aboutUs" class="headerTab">About Us</a>
  		 <!--<a href="/extraPage" class = "navbar-brand">Extra Page 1</a>
       <a href="/secondPage" class = "navbar-brand">Extra Page 2</a>-->
       <div id="login-screen" class="login">
        <login-buttons></login-buttons>
      </div>
    </div>
  </div>
<!--class = "navbar-brand"-->